.sidebar {
  position: relative;
  height: 100%;
  width: 282px;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0,20,29,0.2), 0 20px 40px 0 rgba(0,20,29,0.1);

  &--padded {
    padding: 16px;
    height: calc(100% - 32px);
    width: 250px;
  }
}
