@import '~@sage/ng-carbon/assets/fonts.css';
@import '~@sage/ng-carbon/assets/themes/default.css';

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

*:focus {
  outline: 3px solid #ffb500;
}

input {
  padding: 0px 11px;
  line-height: 2.5em;
  background-color: #fff;
  border: 1px solid #668592;
  box-sizing: border-box;
}

button {
  margin: 0 8px;
}
