@import '~@sage/ng-carbon/assets/fonts.css';
@import '~@sage/ng-carbon/assets/themes/medium.css';

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
  background-color: var(--color-primary);
}

*:focus {
  outline: 3px solid #ffb500;
}

input[type="number"] {
  background-color: #fff;
  border: 1px solid #668592;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 11px;
  height: 40px;

  &.input--small {
    padding: 0px 8px;
    height: 32px;
  }
}

button {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

pre {
  display: flex;
}

.ml {
  margin-left: 8px !important;
}

.heading {
  font-size: 1.2em;
  font-weight: bold;
  margin: 8px 0;
}

.sub-heading {
  font-weight: bold;
  margin: 4px 0;
}

.input-field {
  padding-bottom: 8px;
}

.input-error {
  border: 2px solid var(--color-error);
}

.axis-form .sds-button--destructive {
  padding: 0 8px !important;
}
